.chart_wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
}

.chart {
	text-align: center;
	width: 50vw;
	height: 80vh;
	margin-bottom: 5%;
	padding: 3%;
}

.chart h1 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 2.5rem;
}

@media only screen and (min-width: 200px) and (max-width: 1500px) {
	.chart {
		flex-direction: column;
		justify-content: center;
		width: 100vw;
		height: 80vh;
		padding: 10%;
		margin-bottom: 15%;
	}
}

@media only screen and (min-height: 352px) and (max-height: 430px) {
	.chart {
		flex-direction: column;
		justify-content: center;
		width: 60vw;
		height: 60vw;
		padding: 12%;

	}
}
@media only screen and (min-height: 430px) and (max-height: 620px) {
	.chart {
		flex-direction: column;
		justify-content: center;
		width: 70vw;
		height: 80vw;
		padding: 12%;
		
	}
}
