.chart_wrapper {
	display: flex;
	justify-content: center;
	align-content: center;
}

.chart {
	text-align: center;
    width: 50vw;
}

.chart h1 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 2.5rem;
}
