.date_form{
    margin-top: 2rem;
    width: 80vh;
    height: 35vh;
    
}

.form_general{
display: flex;
flex-direction: column;
}

.form_input{
    max-width: 15rem;
    border: solid black 0.1rem;
}

.budget_container{
    display: flex;
    max-width: 100%;
    padding: 0.1rem;
    margin-top: 0.3rem;
    justify-content: center;
     
}

.budget_link{
text-decoration: none;
color: black
}

.budget{
    display: flex;
    width: 100%;
    flex-direction: column
}