.User_add_wrapper {
	padding-top: 3%;
	width: 100%;
	height: 130vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 5%;
	
}

.table_wrapp {
	justify-content: center;
	text-align: center;
	align-content: center;
	display: flex;
}

.table {
	width: 31rem;
	font-size: 1rem;
	text-align: left;
	height: 20rem;
}

th:hover {
	border-bottom: solid black 1px;
}

.buttons {
	padding-top: 1.5%;
	display: flex;
	justify-content: center;
}
